#sideBar {
    background-color: whitesmoke;
}
* {
   
    color:rgb(10, 13, 14)
}
 .MuiToolbar-root {
    background-color: rgb(64, 43, 201);
 }
 h6 {
     color: whitesmoke;
    background-color: rgb(64, 43, 201);
 }
 .simpleCard {
     max-width: 300px;
     background-color: white
 }
 #cardHolder {
     margin-left: 20%,
 }
 .card {
   width: 200px;
 margin-left: 10%;
 border: black;

 }

.holder {
    margin-top: 3%;

}
.header {
    margin-left: 5%;
 
}
.wrapper {
    margin-left: 2%;
}