#sideBar {
    background-color: grey;
}
* {
    background-color: rgb(229, 231, 236);
    color:rgb(10, 13, 14)
}
 .MuiToolbar-root {
    background-color: rgb(64, 43, 201);
 }
 h6 {
    background-color: rgb(64, 43, 201);
 }
 .simpleCard {
     max-width: 300px;
     background-color: slategray;
 }
 #cardHolder {
     margin-left: 20%;
     float: left;
 }